<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cb">

    <application
        android:allowBackup="true"
        android:icon="@drawable/myapkpicture"
        android:label="@string/app_name"
        android:roundIcon="@drawable/myapkpicture"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cb">
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1043374888199102~2301454078"></meta-data>
        <activity
            android:name=".RseultActivity"
            android:exported="false" />
        <activity
            android:name=".Redevelop"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>